<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <section id="about">
        <div class="about-text">
        <h1>About Us</h1>
        <h2>FreeLancing FrontEnd Developer</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam, amet voluptate tenetur vitae vero corrupti ipsum quia impedit aliquid voluptatibus itaque est, deleniti aliquam totam laudantium, cumque a? Minima, eius!</p>
        <button>View More Details</button>
        </div>       
        <div class="about-model">
        <img alt="model" src="images/1.jpg"/> 
        </div>    
    </section>
</body>
</html>
