<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
        <section id="contact-form">
        <form>
        <div class="contact-left">
        <h1 class="c-l-heading"><font style="border-bottom: 3px solid #1ED98B;">Writ</font>e us</h1>
        <div class="f-name">
        <font >Name</font>
        <input type="text" placeholder="Full Name"/>
        </div>
        <div class="f-email">
        <font >Email</font>
        <input type="email" placeholder="Example@gmail.com"/>
        </div>
        </div>
        <div class="contact-right">
        <div class="message">
        <font >Message</font>
        <textarea name="message" rows="5" cols="20" placeholder="Write Message..."></textarea>
        </div>
        <button>submit</button>
        </div>         
        </form>        
        </section>
</body>
</html>
