<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <section id="portfolio">
        <h1 class="p-headind">Projects</h1>
        <div class="p-container">
        <div class="p-box">
        <div class="overlay-text">
        <h1>Writting</h1>
        <p>Client Project</p> 
        </div>
        <img src="images/4.jpg">         
        </div>
        <div class="p-box">
        <div class="overlay-text">
        <h1>Ideas</h1>
        <p>Client Project</p> 
        </div>
        <img src="images/6.jpg">
        </div>
        <div class="p-box">
        <div class="overlay-text">
        <h1>Music</h1>
        <p>Client Project</p> 
        </div>
        <img src="images/8.jpg">
        </div>
        <div class="p-box">
        <div class="overlay-text">
        <h1>Time</h1>
        <p>Client Project</p> 
        </div>
        <img src="images/7.jpg">
        </div>
        <div class="p-box">
        <div class="overlay-text">
        <h1>Creative</h1>
        <p>Client Project</p> 
        </div>
        <img src="images/2.jpg">
        </div>
        <div class="p-box">
        <div class="overlay-text">
        <h1>Books</h1>
        <p>Client Project</p> 
        </div> 
        <img src="images/5.jpg">
        </div>
         
        </div>
        </section>
</body>
</html>
