<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <section id="services">
        <div class="s-heading">
        <h1>Services</h1>
        <p>Here Is The Some Servies Which I Provide You.</p>
        </div>
        <div class="b-container">
        <div class="s-box">
        <div class="s-b-img">
         <div class="s-type">Front-End</div>
         <img src="images/2.jpg">
        </div>
        <div class="s-b-text">
        <a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis voluptas sunt minima blanditiis, soluta, saepe impedit provident fuga explicabo, nisi itaque facilis natus minus voluptates atque perspiciatis similique est ullam!</a> 
        </div>
        </div>
        <div class="s-box">
        <div class="s-b-img">
         <div class="s-type">Back-End</div>
         <img src="images/3.jpg">
        </div>
        <div class="s-b-text">
        <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo minima voluptatibus culpa quas tempora qui explicabo ipsam mollitia totam? Modi at alias id sed, temporibus quas voluptas recusandae? Error, necessitatibus!</a> 
        </div>
        </div>
        <div class="s-box">
        <div class="s-b-img">
         <div class="s-type">SEO</div>
         <img src="images/4.jpg">
        </div>
        <div class="s-b-text">
        <a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor neque, repudiandae minus odit consectetur ipsam suscipit voluptatum aperiam hic accusamus enim! Rerum corporis nisi quod exercitationem fugit expedita molestias tempore.</a> 
        </div>
        </div>
        </div>
        </section>
</body>
</html>
